<h1>How It Works</h1>
<h2>Ranked Choice Ballot</h2>
    <h3>What?</h3>
        <p>
            A ranked choice ballot is a ballot that allows voters to rank their options in order of their preference instead of voting for just their first preference. Then those ballots can be tallied to select a single winner that is the most preferred by voters over all other alternatives.
        </p>
    <h3>Why?</h3>
        <p>
            Ranked choice ballots offer many advantages over the usual kinds of ballots. The top three advantages are:
        </p>
        <ol>
            <li>
                Ranked choice ballots more accurately reflect voters' preferences as a whole.
            </li>
            <li>
                Ranked choice ballots remove the spoiler effect where voters must either vote for an option unlikely to win or vote insincerely for an option that is not their most preferred.
            </li>
            <li>
                Ranked choice ballots reward coorperative campaigning by electing options that have the widest base of support and are preferred the most by voters.
            </li>
        </ol>
    <h3>How?</h3>
        <p>Ranked choice ballots are easy to use. Simply rank the choices in order of your preference. Rank as many as you want. Any options not ranked will be tied in last place ranked below every other option on your ballot.</p>
        <p>Here on this site, our ballots look like this</p>
        <img src="assets/site_ballot_example2.png">
        <p>Using the ballot is easy.</p>
        <ul>
            <li>
                The available options are listed on the left. 
            </li>
            <li>
                Click on an option to add it to your ballot on the right. It will disappear from the available options on the left.
            </li>
            <li>
                Remove an option from your ballot by clicking the trash can icon. It will return to the available options on the left.
            </li>
            <li>
                Change an option's rank by clicking the up or down arrows. 
            </li>
            <li>
                An option's rank is displayed in the black circle next to the option on your ballot. 
            </li>
            <li>
                The CLEAR button will reset the ballot back to the original state with nothing on your ballot and all options available on the left.
            </li>
            <li>
                Once you are finished, click SUBMIT to send your ballot off to be tallied.
            </li>
        </ul>