<form class="create-poll-form" (ngSubmit)="submit(f)" #f="ngForm">
    <div [ngSwitch]="election_type">
        <div *ngSwitchCase="'private'">
            <!-- private and username -->
            <h1>Please enter your ballot code for "{{ election_manager.election.description }}"</h1>
            <div class="input-group">
                <label for="code">Ballot Code</label>
                <input type="text" name="code" id="code" ngModel required>
                <div *ngIf="error_message">
                    <p style="color: var(--color-red)">{{ error_message }}</p>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'public'">
            <!-- public and password -->
            <h1>Please enter the password for "{{ election_manager.election.description }}"</h1>
            <div class="input-group">
                <label for="code">Poll Password</label>
                <input type="password" name="code" id="code" ngModel required>
                <div *ngIf="error_message">
                    <p style="color: var(--color-red)">{{ error_message }}</p>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!f.valid" [ngClass]="f.valid ? 'btn' : 'btn btn--hollow'">Submit</button>
</form>