<section *ngIf="submission_message.length==0" class="grid-container layout-sidebar">
    <app-bp-election-options></app-bp-election-options>
    <div class="grid-buttons">
        <button class="btn" (click)="submit_ballot()">
            Submit Ballot
        </button>
        <button class="btn btn--warning" (click)="clear_ballot()">
            Clear Ballot
        </button>
    </div>
    <app-bp-ballot *ngIf="submission_message.length==0"></app-bp-ballot>
</section>
<div *ngIf="submission_message.length>0">
    <p>{{ submission_message }}</p>
</div>