th, td {
    border: 1px solid black;
    padding: 2px 6px;
}
table {
    border-collapse: collapse;
    margin: 16px 0;
}
tr th {
    background-color: #D0D0D0;
}
tr:nth-of-type(odd) td {
    background-color: #F0F0F0;
}
textarea{
    display: block;
}
table.ballot_names_list {
    position: relative;
    float: left;
}
table.ballot_selection_list {
    position: relative;
    float: right;
}