<!-- 
    name
    halt-time of election
    scheduled start time
    description of poll
    options
    private or public?
    public: password protected?
    anonymous results
 -->
<div>
    <form (ngSubmit)="create_election(f)" #f="ngForm">
        <div class="create-poll-container">
            <div>
                <label>Name</label>
                <input type="text" name="name" id="name" ngModel required>
            </div>
            <div>
                <label>Start Time</label>
                <input type="datetime-local" name="start_date" id="start_date" ngModel>
            </div>
            <div>
                <label>Halt Time</label>
                <input type="datetime-local" name="halt_date" id="halt_date" ngModel required>
            </div>
            <div>
                <label>Description</label>
                <input type="text" name="desc" id="desc" ngModel required>
            </div>
            <div>
                <label>Ballot Options</label>
                <input type="text" name="options" id="options" ngModel required>
            </div>
            <div>
                <p>Public or Private?</p>
                <input type="radio" value="public" id="radioPublic" name="radioPublicPrivate" ngModel>
                <label for="radioPublic">Public</label>
                <input type="radio" value="private" id="radioPrivate" name="radioPublicPrivate" ngModel>
                <label for="radioPrivate">Private</label>
            </div>
            <div>
                <!-- if public -->
                <label>Password?</label>
                <input type="text" name="password" id="password" ngModel>
            </div>
            <div>
                <label>Anonymous Results?</label>
                <input type="radio" name="anon" id="anon" ngModel>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="!f.valid">Create Election</button>
            <button type="reset" (clear)="clear_form()">Clear</button>
        </div>
    </form>
</div>