<nav class="nav">
    <div class="nav__container">
        <div class="nav__home">
            <a class="btn btn--nav" routerLink='/'>
                <!-- <img class="btn--nav-home" src="img/home.svg" alt="Home"> -->
                <svg class="btn--nav-home" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2E3944" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M15,21v-8H9v8H4c-0.6,0-1-0.4-1-1V8l9-7l9,7v12c0,0.6-0.4,1-1,1H15z" />
                </svg>
                Home
            </a>
        </div>
        <ul class="nav__links">
            <li>
                <button class="color-scheme-toggle" (click)="applySetting(toggleSetting())">
                    <span class="color-scheme-icon--light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#2E3944" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="5"></circle>
                            <line x1="12" y1="1" x2="12" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="23"></line>
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                            <line x1="1" y1="12" x2="3" y2="12"></line>
                            <line x1="21" y1="12" x2="23" y2="12"></line>
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                        </svg>
                    </span>
                    <span class="color-scheme-icon--dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="2E3944" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                        </svg>
                    </span>
                </button>
            </li>
            <li>
                <a class="btn btn--nav" routerLink='/election_search'>Find an Election</a>
            </li>
            <li>
                <a class="btn btn--nav" routerLink='/how_it_works'>How It Works</a>
            </li>
            <!-- <li>
                <a class="btn btn--nav" href="#">Login/Register</a>
            </li> -->
            <li>
                <a class="btn btn--nav-create-poll" routerLink='/create_election'>Create a Poll</a>
            </li>
        </ul>
        <div class="nav__links-shadow"></div>
        <button class="btn btn--nav btn--nav-menu" href="#">
            Menu
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12" />
                <line x1="3" y1="6" x2="21" y2="6" />
                <line x1="3" y1="18" x2="21" y2="18" />
            </svg>
        </button>
    </div>
</nav>