<h1>Winner:</h1>
<h2 *ngFor="let winner of beatpath_winner">{{ winner }}</h2>

<h1>Results:</h1>
<p>This table shows the {{ data_grid_state }} between each ballot option. The ballot options are ordered by their results in the election. The top left performed the best and is the winner. The bottom right performed the worst.</p>
<table>
    <tbody>
        <tr>
            <th></th>
            <th *ngFor="let label of ia_diagram_labels">
                {{ label }}
                <!-- <i>p</i>[*,{{ label }}] -->
            </th>
        </tr>
        <tr *ngFor="let label of ia_diagram_labels; let row = index">
            <td>
                {{ label }}
                <!-- <i>p</i>[{{ label }},*] -->
            </td>
            <td *ngFor="let boggus of data_grid; let col = index"
                [ngClass]="tableCellRedOrGreen(row,col)">
                {{ data_grid[row][col] }}
            </td>
        </tr>
    </tbody>
</table>
<h1>Visualization:</h1>
<canvas
    #my_canvas 
    id="canvasElement" 
    width="800" 
    height="800">
</canvas>
<button class="btn" (click)="switch_data()">Switch Display</button>