<section class="grid-container layout-narrow">
    <div class="panel">
        <form (ngSubmit)="get_elections_like(f)" #f="ngForm">
            <div class="input-group">
                <label for="election_search">Search:</label>
                <input type="search" placeholder="Search input" id="election_search" name="searched_election" ngModel required>
            </div>
            <button type="submit" [disabled]="!f.valid" class="btn">Search Elections</button>
        </form>
    </div>
    <div *ngIf="searched" class="panel">
        <div *ngFor="let election of elections; let i = index">
            <a [routerLink]="['/'+election.url_election_name]">
                {{ election.description }}
            </a>
            <hr *ngIf="i !== elections.length-1">
        </div>
    </div>
</section>